/******************************************************************************************

Form specific styles

******************************************************************************************/

.filter-container {
	padding: 10px 20px;
	border-bottom: 1px solid @light-text-color;
	text-align: left;
	display: inline-block;
	
	@media (max-width: @max-mobile-width) {
		padding: 10px 0;
	}

	& > div {
		display: inline-block;
		font-size: @default-font-size + 4px;

		label {
			display: block;
			font-size: @default-font-size - 2px;
			font-weight: @weight-book;
			color: @medium-text-color;
			text-transform: uppercase;
		}
		
		padding: 10px;

		&.wide {
			width: 240px;
		}
		
		&.date {
			width: 140px;
		}
		
		&.action {
		}
	}
}

form {
	margin-bottom: 30px;
	
	li {
		margin-bottom: 15px;
		
		input {
			border-bottom: 1px solid @light-text-color;
			padding-bottom: 5px;
		}

		label {
			text-align: right;
			display: inline-block;
			width: 150px;
			margin-right: 10px;
			vertical-align: top;
			
			@media (max-width: @mobile-table-width) {
				width: 20%;
			}
		}
		
		input {
			@media (max-width: @mobile-table-width) {
				width: 70%;
			}
		}
		
		div.auto-resize {
			display: inline-block;
			width: 350px;
			
			@media (max-width: @mobile-table-width) {
				width: 70%;
			}
			
			textarea {
				width: 350px;
				height: 30px;
				overflow: hidden;
				padding: 5px;
				
				@media (max-width: @mobile-table-width) {
					width: 70%;
				}
			}
		}
	}
}
